/*NAVBAR CSS*/
body{
	font-family: AvenirNext;
	font-size: 19px;
}
.logo-wrapper{
	    width: 7%;
    /* vertical-align: super; */
    display: inline-block;
}
.logo-wrapper img{
	width: 100%;
}
.navbar-tab{
	display: inline-block;
    float: right;
    vertical-align: middle;
        padding: 9px;

}
.navbar-tab-wrapper button{
	background: transparent;
    font-weight: 500;
    color: #000;
}
.navbar-tab-wrapper{
	display: inline-block;
    float: right;
    vertical-align: middle;
    
}
.navbar-wrapper{
	width: 90%;
	margin:auto;
}
.navbar-section{
	margin-top: 0px;
	padding: 10px;
	top: 0;
	    position: fixed;
    /* margin-bottom: 48px; */
    width: 100%;
    border-bottom: 2px solid #006dad;
    z-index: 9999;
    background: white;
}
.navbar-tab-wrapper button:hover{
	color: #478ecc;
    text-decoration: none;
}
.It{
	color: #3266cc;
	font-weight:600;
	font-size:18px;
}
.Cd{
	color: #dc3812;
	font-weight:600;
	font-size:18px;
}
.Ig{
	color: #fe9900;
	font-weight:600;
	font-size:18px;
}
.Is{
	color: #109619;
	font-weight:600;
	font-size:18px;
}
.Fs{
	color: #990099;
	font-weight:600;
	font-size:18px;
}
.Hc{
	color: #0198c7;
	font-weight:600;
	font-size:18px;
}
.Bm{
	color: #db4477;
	font-weight:600;
	font-size:18px;
}

.current{
	color:blue;
	font-weight:600;
}









.mcdiv-1-content h2{
	text-align: center;
	    margin-top: 50px;
}
.mcdiv-1-content h4{
	margin-top: 50px;
	    font-size: 23px;
    font-weight: 600;
}
.quantitative-hidden,.qualitative-hidden{
	display: none;
}
/*.subcontent-2-1,.subcontent-2-2,.subcontent-2-3{
	display: none;
}*/
.show-p-quant{
	color: #333339;
    font-size: 15px;
}
.show-p-quality{
	color: #333339;
        font-size: 18px;
    font-weight: 600;
}
.Quantitative-analysis .show-p{
	float: right;
}
.Quantitative-analysis{
	text-align: center;
}
.Quantitative-analysis button{
	    background: #47b6ea;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
        border: none;
}
.quantitative-hidden{
	text-align: center;
}
.qualitative-hidden{
	text-align: center;
}
.show-p-quality{
	 background: #47b6ea;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
        border: none;
}
.show-p-quant:hover,.show-p-quality:hover{
	color: #fff;
}


/*read more section*/
.read-more-section{
	background: #3dace0;
    padding: 40px 20px;
}
.want-more{
	color: white;
	padding-left: 9vw;
}
.want-more p:first-child{
	    font-size: 30px;
}
.want-more p:last-child{
	    font-size: 18px;
}
.email-submit{
	    margin-top: 30px;
}
.email-submit input{
	border: none;
    padding: 9px;
    padding-left: 29px;
    border-radius: 10px;
}
.btn-contact-us{
	border: 0px;
    border-radius: 5px;
    margin-left: 10px;
    padding: 10px 20px;
    color: white;
    background: #343f51;
}
.mcdiv-1{
	padding-bottom: 30px;
}

/*about fund*/
.about-fund-wrapper{
	    margin: auto;
    width: 80%;
    margin-top: 40px;
}
.btn-learn-more{
	    background: #cece10;
    color: white;
}


/*roli section*/
.roli-more{
	/*display: none;*/
}
.roli-saxena{
	    margin-top: 50px;
}
.roli-content{
	/*text-align: center;*/
	padding-bottom: 30px;
    padding-top: 30px;
}
.btn-read-more{
	    margin-bottom: 10px;
    background: transparent;
    border: 1px solid blue;
    border-radius: 0;
    padding: 3px 5px;
}


/*roli banner*/
.roli-banner{
	    padding: 10px;
    background: #3dace0;
    color: #fff;
    margin: auto;
    width: 100%;
}
.roli-name{
	    font-size: 22px;
    margin-bottom: 0;
}
.sector-distr{
	    margin-top: 40px;
    text-align: center;
}

.portfolio-logo-wrapper img{
	width: 100%;
}
.portfolio-logo-wrapper{
	height: 200px;
}
.content-tabs{
	
	/*margin-top: 90px;*/
}
.mcdiv-1,.mcdiv-2{
	display: none;
}
.content-tab-wrapper{
	display: inline-block;
}
.content-tab-wrapper a{
	color: #fff;
	    padding: 16px;
	    cursor: pointer;
		font-size:25px;
}
.content-tabs{
	text-align: center;
	background-color: #3dace0;
	padding: 28px 38px 38px 28px;
}

.content-tabs .active{
	background-color:#0f73a2;
}
.active1,.active2{
	display: none;
}
.btn-send{
	display: block;
    margin-top: 5px;
    background: #1583b7;
}
.message-box{
	height: 100px;
}
.top-footer{
		background: #202937;
    color: #fff;
}
.top-footer form{
	padding: 15px;
}
.contact-us-wrapper{
	float: left;
    margin-top: 20px;
    color: #7a7d81;
    margin-bottom: 20px;
}
.contact-us-wrapper h3{
	color: #fff;
}
.map-wrapper{
	padding: 10px;
}
.map-wrapper iframe{
	    border: 0;
    height: 288px;
    width: 100%;
}
.top-footer form input{
	width: 70%;
}
.about-fund-content h3{
	text-align: center;
	font-size: 31px;
    margin-bottom: 20px;
}
.about-fund-content{
	padding-bottom: 30px;
}
.content-tabs{
	font-size: 19px;
}
.f-content-wrapper{
	font-size: 12px;
	color: #797474;
}
.f-content-wrapper p{
	margin-bottom: 0;
}
.footer{
	padding: 5px;
}
.footer-logo-wrapper img{
	width: 32%;
    float: right;
}
.portfolio-logo-wrapper {
    height: 150px;
    margin: auto;
}
.portfolio-logo-wrapper img {
     width: 150px;
    height: 100%;
    margin: 0px;
    /* margin-left: 58px; */
}
.portfolio-wrapper{
	text-align: center;
}
.portfolio-wrapper h2{
	margin-top: 50px;
    margin-bottom: 50px;
    color: #968f8f;
}
.content{
	display: none;
}
.portfolio-logo-wrapper{
	background-color: #fff;
    padding-top: 15px;
}
.logo-banner-section{
	background-image: url('../images/bg1.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	min-height: 550px;
}
.logo-banner-wrapper{
	background-color: rgba(255, 255, 255, 0.6);
    height: 414px;
    /* top: 29px; */
    /* position: absolute; */
    /* top: 0px; */
    margin-top: 104px;
	width:80vw;
}
.logo-overlay{
	    text-align: center;
}

}
.overlay-text{
	    /* top: 74px; */
   
    bottom: 62px;
 text-align: center;
    left: 24%;
    color: #000;
	;
}
.mcdiv-2-content {
    margin-top: 50px;
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
}
.main-head-2-1,.main-head-2-2,.main-head-2-3{
	font-weight: 600;
	font-size: 21px;
}
.overlay-text p{
	      width: 60%;
    margin: auto;
    margin-top: 30px;
    text-align: left;
    font-size: 18px;
	color:#000;

}
.mcdiv-2-content h2{
	text-align: center;
	margin-bottom: 30px;
}
.excerpts-div{
	background-image: url('../images/cf.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	min-height: 550px;
	padding: 20px;
    color: #000;
    font-weight: 500;
}
.excerpts-wrapper{
	        background-color: rgba(255, 255, 255, 0.89);
    width: 50%;
    padding: 32px;
    margin-left: 40vw;
}
.mcdiv-3-content h2{
	text-align: center;
}
.about-fund,.roli-saxena{
	background:#ebf5f9;
}
.blue {
    color: #3165cb;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0;
}
.mcontent-section-wrapper{
	/*background-color: #9fd4ec;*/
}
.mcdiv-1-wrapper{
	    width: 80%;
    margin: auto;
}
.mcdiv-1-content{
	font-size: 19px;
}
.navbar-brand>img{
	width: 86px;
}
@media(max-width: 480px){
	.chart1-banner{
		width: 100%;
	}
	.chart1-banner img{
		width: 100%;
	}
	.excerpts-wrapper{
		    margin-left: 0vw;
		    width: 100%;
	}
	.btn-contact-us{
		    margin-top: 17px;
	}
	.navbar-brand>img{
		width: 50px;
	}
	.logo-banner-wrapper img{
		width: 90px;
	}
	.overlay-text p {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    text-align: left;
    font-size: 16px;
    color: #000;
}
}
.navbar{
	position: fixed;
    top: 0;
    z-index: 99999;
    width: 100%;
}
.navbar-nav{
	padding:10px;
}
.navbar-nav li a{
	padding:0px;
}
.navbar-nav li a button{
	background-color: none;
	background: none;
	    font-size: 17px;
}
.navbar-brand{
	padding: 0;
}
.navbar{
	margin-bottom: 0;
    border-bottom: 2px solid #006bac;
    background-color: #fff !important;
}



/*test1*/
.blue {
  background: blue;
}

.red {
  background: red;
}

.buttonProps1 {
  text-align: center;
  font-size: 20px;
  color: white;
  margin: 0px;
  height: 50px;
  border-radius: 5px;
  border-style: none;
  background-color: transparent;
  border:1px solid #08618a;

}
.buttonProps2 {
  text-align: center;
  font-size: 20px;
  color: white;
  margin: 0px;
  height: 50px;
  border-radius: 5px;
  border-style: none;
  background-color: transparent;
  border:1px solid #08618a;
}

.center {
  text-align: center;
}
.customblue{
	background-color: #08618a;
}
.customblank{
	background-color: transparent;
}